.error {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  padding: 2rem;
  margin: 0 auto;
  max-width: 75rem;
  border: 3px solid #000;
  border-radius: 2rem;
  background-color: #c2c2c2;
}

.error p:first-child {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
