.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #fff;
  background-color: #2c2c2c;
}

.logo {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  padding: 1.5rem;
  transition: 400ms;
  border-bottom: 4px solid transparent;
}

.navbar ul li a:hover {
  border-color: #fff;
}
